@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font: normal 18px Arial;
}

h1 {
    font: bolder 30px Arial;
    margin: 20px 5px 5px;
}

button {
    padding: 20px 30px;
    margin: 20px 10px;
}

div#res {
    margin: 10px 5px;
}

div#res > h2 {
    font: bolder 20px Arial;
    padding: 0px 5px;
}

div#res > p {
    padding: 20px 5px;
    line-height: 40px;
}