body {
    background: #01328C;
    font: normal 16px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

#foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}