@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 10px 5px;
    font: bolder 30px Arial;
}

button {
    padding: 15px 20px;
    margin: 5px 5px;
    font: 600 16px Arial;
}

div#res {
    margin: 10px 5px;
    font: normal 16px Arial;
}

div#res>p {
    margin-top: 10px;
    line-height: 40px;
}